@page
@model EnrollModel
@{
    ViewData["Title"] = "Secret Santa Draw 2018";
}
<h2>@ViewData["Title"]</h2>
<h3>Sit jou naam in en 'n 'secret'.  Onthou/skryf die secret erens neer, in case jy jou link verloor.</h3>

<div asp-validation-summary="All"></div>
<form method="POST">
    <div>Naam:   <input asp-for="Person.Name" /></div>
    <div>Secret: <input asp-for="Person.Phrase" /></div>
    <input type="submit" />
</form>

<h2>Mense wat klaar in is: </h2>
@foreach (var person in Model.Persons)
{
    <p>- @person.Name</p>
}
